*{
  margin: 0;
  padding: 0;
}
.container{
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
  text-align: center;
}
h1{
  color: #666;
  font-size: 38px;
}
h4{
  color: #666;
  font-size: 24px;
  margin: 20px 0;
}
.quantity{
  width: 200px;
  margin: 0 auto;
  display: flex;
  font-weight: bold;
}
a.quantity_minus,
a.quantity_plus{
  background: #ccc;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
}


.quantity_input{
  width: 50px;
  text-align: center;
  font-size: 24px;
}

.m-5{
  margin-top: 50px;
}